In [1]:
import pandas as pd

In [16]:
body = pd.read_csv("./bodies.csv")
body.head()
body.shape

(1683, 2)

In [20]:
stances = pd.read_csv("./stances.csv")
stances.head()
# stances.shape

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [21]:
merge = body.merge(stances, on="Body ID", how="inner")
# merge.shape
merge.head()

,Body ID,articleBody,Headline,Stance
0,0,A small meteorite crashed into a wooded area i...,"Soldier shot, Parliament locked down after gun...",unrelated
1,0,A small meteorite crashed into a wooded area i...,Tourist dubbed ‘Spider Man’ after spider burro...,unrelated
2,0,A small meteorite crashed into a wooded area i...,Luke Somers 'killed in failed rescue attempt i...,unrelated
3,0,A small meteorite crashed into a wooded area i...,BREAKING: Soldier shot at War Memorial in Ottawa,unrelated
4,0,A small meteorite crashed into a wooded area i...,Giant 8ft 9in catfish weighing 19 stone caught...,unrelated

In [24]:
from sklearn.model_selection import train_test_split as train_split

total_sizes = merge.shape[0]
train_size, val_size = round(total_sizes * 0.8), round(total_sizes * 0.1)

train_df = merge[:train_size]
val_df = merge[train_size:train_size + val_size]
test_df = merge[train_size + val_size:]

print(train_df.shape, val_df.shape, test_df.shape)

(39978, 4) (4997, 4) (4997, 4)

In [25]:
train_df.to_csv("./train.csv")
val_df.to_csv("./val.csv")
test_df.to_csv("./test.csv")